{% extends "layout.html" %}
{% block body %}
    <div class="form-group">
        <fieldset class="form-fieldset w-100">
            <legend class="form-legend">Create Task</legend>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div class="mt-3">{{ form.task.label }}</div>

            {% if form.task.errors %}
                {% for error in form.task.errors %}
            <div><div>{{ form.task(class="form-control") }}</div><span class="text-danger">{{ error }}</span></div>
                {% endfor %}
            {% else %}
                <div>{{ form.task(class="form-control") }}</div>
            {% endif %}

            <div class="mt-3">{{ form.description.label }}</div>
            {% if form.description.errors %}
                {% for error in form.description.errors %}
            <div><div>{{ form.description(class="form-control") }}</div><span class="text-danger">{{ error }}</span></div>
                {% endfor %}
            {% else %}
                <div>{{ form.description(class="form-control") }}</div>
            {% endif %}
            <div class="submit-add">
                <div>{{ form.submit(class="form-submit-button") }}</div>
                <a href="{{ url_for('account') }}"><button type="button" class="form-submit-button">Cancel</button> </a>
            </div>
        </form>
        </fieldset>

    </div>
{% endblock %}