{% extends "layout.html" %}
{% block body %}
    <div class="form-group">
        <fieldset class="form-fieldset w-100">
            <legend><h1>Sign up Today!</h1></legend>
        <form method="post" action="">
            {{ form.hidden_tag() }}

            <div class="mt-3">{{ form.username.label }}</div>
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <span class="form-error"><div>{{ form.username(class="form-control") }}</div>{{ error }}</span>
                {% endfor %}
            {% else %}
                <div>{{ form.username(class="form-control") }}</div>
            {% endif %}



            <div class="mt-3">{{ form.email.label }}</div>

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span class="form-error"><div>{{ form.email(class="form-control") }}</div>{{ error }}</span>
                {% endfor %}
            {% else %}
                <div>{{ form.email(class="form-control") }}</div>
            {% endif %}

            <div class="mt-3">{{ form.password.label }}</div>
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="text-danger"><div>{{ form.password(class="form-control") }}</div>{{ error }}</span>
                {% endfor %}
            {% else %}
                <div>{{ form.password(class="form-control") }}</div>
            {% endif %}

            <div class="mt-3">{{ form.confirm_password.label }}</div>
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <span class="text-danger"><div>{{ form.confirm_password(class="form-control") }}</div>{{ error }}</span>
                {% endfor %}
            {% else %}
                <div>{{ form.confirm_password(class="form-control") }}</div>
            {% endif %}

            <div>{{ form.submit(class="btn btn-outline-primary mt-3 mb-4") }}</div>
        </form>
            <p>Already have an Account? Login <a href="{{ url_for('login') }}">here</a></p>
        </fieldset>


    </div>

{% endblock %}